<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-brand">
            <h3><strong>{{ app_name }}</strong></h3>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto flex-nowrap">
                {{#ifEquals status "LoggedIn"}}
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Home'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/"><strong> <i class="bi bi-house-fill"></i> Home</strong>
                    </a>
                </li>
                {{#Includes 'Moderate' login.userDetails.role}}
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Dashboard'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/dashboard"><strong> <i class="bi bi-speedometer2"></i>
                            Dashboard</strong>
                    </a>
                </li>
                {{/Includes}}
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Stream'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/stream"><strong> <i class="bi bi-cast"></i>
                            Stream</strong>
                    </a>
                </li>
                {{#Includes 'Moderate' login.userDetails.role}}
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Users'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/users"><strong> <i class="bi bi-people-fill"></i>
                            Users</strong>
                    </a>
                </li>
                {{/Includes}}
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'FAQ'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/faq"><strong> <i class="bi bi-question-circle-fill"></i> FAQ</strong>
                    </a>
                </li>
                {{#Includes 'Moderate' login.userDetails.role}}
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Profanity'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/profanity"><strong> <i class="bi bi-type-strikethrough"></i>
                            Profanity</strong>
                    </a>
                </li>
                {{/Includes}}
                <li class="nav-item dropdown">
                    <a class="nav-link {{#ifEquals title 'Settings'}}active{{/ifEquals}} text-light dropdown-toggle"
                        href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong> <i class="bi bi-people-circle"></i> {{#if login.user.displayName}} {{FirstWord
                            login.user.displayName}} {{else}} {{EmailSplit login.user.email}} {{/if}}</strong> <i
                            class="bi bi-person-workspace"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item {{#ifEquals title 'Settings'}}router-link-exact-active{{/ifEquals}}"
                                href="/settings"><strong> <i class="bi bi-gear-wide-connected"></i>
                                    Settings</strong></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout"><strong> <i class="bi bi-box-arrow-right"></i>
                                    Logout</strong></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Notice'}}router-link-exact-active{{/ifEquals}} text-light position-relative"
                        aria-current="page" href="/notice"><strong> <i class="bi  bi-bell-fill"></i>
                            Notice
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{notice_length}}</span>
                        </strong>
                    </a>
                </li>
                {{/ifEquals}}
                {{#ifNotEquals status "LoggedIn"}}
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Home'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/"><strong> <i class="bi bi-house-fill"></i> Home</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'FAQ'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/faq"><strong> <i class="bi bi-question-circle-fill"></i> FAQ</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Login'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/login"><strong> <i class="bi bi-unlock-fill"></i> Login</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Register'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/register"><strong> <i class="bi bi-ui-checks"></i>
                            Register</strong></a>
                </li>
                {{/ifNotEquals}}
            </ul>
        </div>
    </div>
</nav>

{{!-- Email Not Verified --}}
{{#ifEquals login.user.emailVerified false}}
<div class="container mt-2">
    <div class="alert alert-warning alert-fixed alert-dismissible fade show d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-info-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div>
            <strong>Warning!</strong> Your email <i class="bi bi-envelope-exclamation-fill"></i> address is not
            verified. <a href="/email/verify" class="alert-link">Click Me to verify.</a>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/ifEquals}}

<style>
    .navbar-brand {
        font-family: 'Abril Fatface', cursive;
    }

    .router-link-exact-active,
    .active {
        color: #fff;
        background-color: #00bcd4;
        border-color: #00bcd4;
        text-align: center;
    }

    .router-link-exact-active::after {
        content: " 👇"
    }

    .nav-link:hover {
        color: #fff;
        background-color: #d43c00;
        border-color: #d43c00;
    }
</style>