<div class="container py-lg-3 mt-lg-3">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card border-dark mb-3">
                <div class="card-header">
                    <strong> <i class="bi bi-person-fill text-primary"></i> User Stats</strong>
                </div>
                <div class="card-body text-dark overflow-auto" style="height: 18rem;">
                    <div class="div text-center">
                        <a href="/users" class="btn link-success"><b> Users List</b></a>
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Total</div>
                            </div>
                            <span class="badge bg-primary rounded-pill">{{user_stats.total_count}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Developer</div>
                            </div>
                            <span class="badge bg-success rounded-pill">{{user_stats.developer_count}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Admin</div>
                            </div>
                            <span class="badge bg-success rounded-pill">{{user_stats.admin_count}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Users</div>
                            </div>
                            <span class="badge bg-danger rounded-pill">{{user_stats.user_count}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Guest</div>
                            </div>
                            <span class="badge bg-danger rounded-pill">{{user_stats.guest_count}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Disabled</div>
                            </div>
                            <span class="badge bg-warning rounded-pill text-dark">{{user_stats.disabled_count}}</span>
                        </li>
                        <ul />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card border-dark mb-3">
                <div class="card-header">
                    <strong> <i class="bi bi-camera-video-fill text-danger"></i> Stream Stats</strong>
                </div>
                <div class="card-body text-dark overflow-auto" style="height: 18rem;">
                    <div class="div text-center">
                        <a href="/stream/editor" class="btn link-success"><b> Streams</b></a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Total</div>
                            </div>
                            <span class="badge bg-primary rounded-pill">{{stream_stats.total_count}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Archived</div>
                            </div>
                            <span class="badge bg-success rounded-pill">{{stream_stats.archived_count}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Upcoming</div>
                            </div>
                            <span class="badge bg-danger rounded-pill">{{stream_stats.upcoming_count}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Live</div>
                            </div>
                            <span class="badge bg-warning rounded-pill text-dark">{{stream_stats.live_count}}</span>
                        </li>
                        <ul />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card border-dark mb-3">
                <div class="card-header">
                    <strong> <i class="bi bi-slash-square-fill text-success"></i> Recent profanity</strong>
                </div>
                <div class="card-body text-dark overflow-auto" style="height: 18rem;">
                    <ol class="list-group list-group-numbered">
                        {{#each profanityData}}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{this.email}}</div>
                                {{this.comment}}
                            </div>
                            <a href="/users/edit?email={{this.email}}"><span class="badge bg-primary rounded-pill">Block
                                    User</span></a>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card border-dark mb-3">
                <div class="card-header">
                    <strong> <i class="bi bi-newspaper text-success"></i> Recent comments</strong>
                </div>
                <div class="card-body overflow-auto" style="height: 20rem;">
                    <ol class="list-group list-group-numbered">
                        {{#each comments}}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{this.comment}}</div>
                                {{this.title}}
                                <span class="badge bg-primary rounded-pill">{{this.email}}</span>
                                &nbsp;
                                <span class="badge bg-success rounded-pill">{{this.category}}</span>
                                {{#if this.hasProfanity}}
                                &nbsp;
                                <span class="badge bg-danger rounded-pill">Profanity</span>
                                {{/if}}
                            </div>
                            <span class="badge bg-primary rounded-pill">{{this.createdAt}}</span>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>

    </div>