<div class="container py-lg-3 mt-lg-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
                <a class="btn btn-primary" type="button" href="/faq"><strong><i class="bi bi-caret-left-fill"></i>
                        Go
                        to FAQ List</strong></a>
            </div>
            {{#if action}}
            <div class="card">
                <div class="card-header">
                    <h5> {{ToFirstUpper action}} FAQ <i class="bi bi-info-circle-fill"></i></h5>
                </div>
                <div class="card-body">
                    {{#ifNotEquals action 'View'}}
                    <form class="form" action="/faq/entry" method="post">
                        <input type="hidden" name="action" value="{{action}}">
                        <input type="hidden" name="id" value="{{faq.id}}">
                        {{/ifNotEquals}}

                        {{#each validation}}
                        <div class="alert alert-fixed alert-danger alert-dismissible show d-flex align-items-center"
                            role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                role="img" aria-label="Validation Error:">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            <div>
                                {{this.msg}}
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {{/each}}

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="question" name="question" {{#ifEquals
                                action 'View' }}disabled{{/ifEquals}} placeholder="How to create user?"
                                value="{{faq.question}}">
                            <label for="question">Question</label>
                        </div>
                        <div class="mb-3">
                            <label for="answer" class="form-label">Answer</label>
                            <textarea class="form-control editor" id="answer" name="answer" style="height: 250px"
                                {{#ifEquals action 'View' }}disabled{{/ifEquals}}>{{faq.answer}}</textarea>
                        </div>
                        {{#ifNotEquals action 'View'}}
                        <div class="mb-3 text-center">
                            <button type="submit"
                                class="btn {{#ifEquals action 'add'}}btn-success {{else}}btn-primary{{/ifEquals}}   text-center"><i
                                    class="bi bi-pencil-square"></i> {{#ifEquals
                                action 'Add' }}Submit{{/ifEquals}}{{#ifEquals action 'Edit'
                                }}Update{{/ifEquals}}</button>
                        </div>
                        {{/ifNotEquals}}
                        {{#ifNotEquals action 'View'}}
                    </form>
                    {{/ifNotEquals}}
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
