{{#ifEquals mode "Minor"}}
<div class="container py-lg-3 mt-lg-3">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 mb-2">
            <div class="card">
                <h4 class="card-header"><strong>Some Frequently Asked Questions</strong></h4>
                <div class="card-body">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        {{#each faq}}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <strong>{{this.question}}</strong>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {{{this.answer}}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 ">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center">
                        <strong>
                            <span class="text-primary">Still </span> <span class="text-danger">Have</span> <span
                                class="text-dark">Questions?</span>
                        </strong>
                    </h4>
                    <div class="form-text text-dark text-center">Feel Free to Leave an email. </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput"><i class="bi bi-envelope"></i> Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 200px"></textarea>
                            <label for="floatingTextarea2"><i class="bi bi-pen"></i> Message</label>
                        </div>
                        <div class="form-floating text-center">
                            <button type="submit" class="btn btn-success"> <i class="bi bi-send"></i>
                                Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{/ifEquals}}

{{#ifEquals mode "Moderate"}}
<div class="container py-lg-3 mt-lg-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
        <a class="btn btn-primary" type="button" href="/faq/add"><strong>Add FAQ <i class="bi bi-node-plus-fill"></i>
            </strong></a>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 mb-2">
            <div class="card">
                <div class="card-header">
                    <h5>Some Frequently Asked Questions</h5>
                </div>
                <div class="card-body">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        {{#each faq}}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <strong>{{this.question}}</strong>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {{{this.answer}}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5> Fact And Queries <i class="bi bi-info-circle-fill"></i></h5>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover caption-top">
                        <caption class="text-center"><strong>FAQ's List <i class="bi bi-info-circle-fill"></i></strong>
                        </caption>
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Question</th>
                                <th scope="col">View</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each faq}}
                            <tr>
                                <th scope="row">{{SN @index}}</th>
                                <td>{{this.question}}</td>
                                <td><a class="btn btn-sm btn-primary" type="button"
                                        href="/faq/view?id={{this.id}}"><strong><i class="bi bi-eye"></i></strong></a>
                                </td>
                                <td><a class="btn btn-sm btn-dark" type="button"
                                        href="/faq/edit?id={{this.id}}"><strong><i
                                                class="bi bi-pencil-square"></i></strong></a></td>
                                <td><a class="btn btn-sm btn-danger" type="button"
                                        href="/faq/delete/{{this.id}}"><strong><i
                                                class="bi bi-person-x-fill"></i></strong></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{/ifEquals}}