<div class="container py-lg-3 mt-lg-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
                <a class="btn btn-primary" type="button" href="/users/add"><strong>Add User <i
                            class="bi bi-person-plus-fill"></i> </strong></a>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5> Users <i class="bi bi-people-fill"></i></h5>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover caption-top">
                        <caption class="text-center"><strong>User's List <i class="bi bi-people-fill"></i></strong>
                        </caption>
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Role</th>
                                <th scope="col">Country</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col"><i class="bi bi-envelope-check-fill"></i> Verified</th>
                                <th scope="col">Account Disabled</th>
                                <th scope="col">View</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Reset ✉</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>
                                <th scope="row">{{SN @index}}</th>
                                <td><a href="mailto:{{this.email}}" class="btn btn-primary">{{this.email}}</a></td>
                                <td>{{this.displayName}}</td>
                                <td>{{this.role}}</td>
                                <td class="countries" country_code="{{this.country}}"></td>
                                <td>{{#if this.phoneNumber}}<a href="tel:{{this.phoneNumber}}"
                                        class="btn btn-primary">{{this.phoneNumber}}</a>{{else}}N/a{{/if}}</td>
                                <td>{{FirstWord this.emailVerified}}</td>
                                <td>{{FirstWord this.disabled}}</td>
                                <td><a class="btn btn-sm btn-primary" type="button"
                                        href="/users/view?email={{this.email}}"><strong><i
                                                class="bi bi-eye"></i></strong></a></td>
                                <td><a class="btn btn-sm btn-dark" type="button"
                                        href="/users/edit?email={{this.email}}"><strong><i
                                                class="bi bi-pencil-square"></i></strong></a></td>
                                <td><a class="btn btn-sm btn-danger" type="button"
                                        href="/users/user/delete?email={{this.email}}&uid={{this.uid}}"><strong><i
                                                class="bi bi-person-x-fill"></i></strong></a></td>
                                <td><a class="btn btn-sm btn-success" type="button"
                                        href="/users/reset?email={{this.email}}"><strong><i
                                                class="bi bi-unlock-fill"></i></strong></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>